* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgba(16, 4, 4, 0.621);
  min-width: 320px;
  min-height: 100vh;
  font-family: "Mona Sans", sans-serif;
  overflow-x: hidden;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/MonaSans/webfonts/MonaSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/MonaSans/webfonts/MonaSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
